PORT=3000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://<user-name>:<password>@cluster0.xxxxxxx.mongodb.net/<db-name>?<options>
GITHUB_TOKEN=replace-with-github-token
OPENAI_API_KEY=replace-with-openai-api-key
